{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Welcome to the Home Page</h2>
                <p>This is a simple home page template using Bootstrap.</p>
            </div>
        </div>
    </div>
{{ end }}